img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); */
  object-fit: contain;
}

.home-container h1,
.home-container h2,
.home-container p {
  margin: 20px 0;      /* Adds space between text elements and the image */
  z-index: 1;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3); /* Creates a responsive grid */
  gap: 10px;  /* Adds space between images */
}

.image-container img {
  width: 100%;   /* Makes sure the images fill the grid cell */
  height: 100%;  /* Maintains aspect ratio */
  left: 0
}